Repository Handsol/team3, pull requests merged in 2024-12, with the labels that each got.

#4 Feature/#3 글로벌 css 설정
  global.css
  public/backgroundPattern.png
Labels: 🎨 HTML&CSS

#5 Feature/#2 팀 소개 페이지 구현
  global.css
  index.css
  index.html
  public/teamImage.png
Labels: 🎨 HTML&CSS

#7 Feature/#6 공통 header footer
  index.css
  index.html
  layout/footer/footer.css
  layout/footer/footer.js
  layout/header/header.css
  layout/header/header.js
  public/Vector.png
  public/bgm.mp3
  public/logo.png
  public/notion-icon 1.png
Labels: 🎨 HTML&CSS

#9 Feature/#8 방명록 페이지 구현
  config/firebaseConfig.js
  guestbook/guestbook.css
  guestbook/guestbook.html
  guestbook/guestbook.js
  guestbook/guestbookPost.js
  public/profileImg.png
Labels: 🎨 HTML&CSS, ✨ Feature

#14 #14 [공통] 파일들의 경로를 상대 경로로 수정
  layout/footer/footer.js
  layout/header/header.js
Labels: ✨ Feature

#15 [공통] footer 하단 깃, 노션 이미지 상대경로로 수정
  layout/footer/footer.js
Labels: ✨ Feature

#17 Feature/#8 방명록 페이지 구현
  guestbook.html
  guestbook/guestbook.css
  guestbook/guestbook.js
  guestbook/guestbookPost.js
Labels: 🎨 HTML&CSS, ✨ Feature

#18 fix : 팀소개, 멤버소개, 방명록 전체 경로 수정
  layout/header/header.js
Labels: ✨ Feature

#20 🩹 fix : 사용하지 않는 태그의 reset 삭제
  guestbook/guestbook.css
Labels: 🎨 HTML&CSS

#21 fix : 내용 수정(멤버 삭제, 작업기간 정정)
  layout/footer/footer.js
Labels: ✨ Feature

#22 🩹 fix : modal에 z-index 추가
  member/member.css
Labels: 🎨 HTML&CSS

#24 🩹 fix : body에 overflow-x 추가, 가로 스크롤 삭제
  global.css
Labels: 🎨 HTML&CSS

#26 fix : 노션 링크 스파르타 노션으로 수정
  layout/footer/footer.js
Labels: ✨ Feature
